USE PYTHON TO CLEAN DATA

In [1]:
#import pandas library
import pandas as pd

In [2]:
adidas = pd.read_csv('Adidas US Sales.csv')

DISCOVER DATA

In [3]:
adidas.head()

,sales_id,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,1,Foot Locker,1185732,2021-11-06,Southeast,South Carolina,Charleston,Men's Street Footwear,50,278,13900,792,Online
1,2,Foot Locker,1185732,2020-03-14,Northeast,New York,New York,Men's Apparel,46,278,12788,435,Outlet
2,3,West Gear,1128299,2021-01-19,West,California,San Francisco,Men's Athletic Footwear,47,278,13066,287,Outlet
3,4,Walmart,1128299,2021-06-17,Southeast,Florida,Orlando,Women's Apparel,103,218,22454,1257,Online
4,5,Sports Direct,1197831,2021-09-14,South,Alabama,Birmingham,Women's Street Footwear,36,278,10008,530,Outlet

In [4]:
adidas.shape

(9637, 13)

In [5]:
adidas.size

125281

In [6]:
adidas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9637 entries, 0 to 9636
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sales_id          9637 non-null   int64
 1   retailer          9637 non-null   object
 2   retailer_id       9637 non-null   int64
 3   invoice_date      9637 non-null   object
 4   region            9637 non-null   object
 5   state             9637 non-null   object
 6   city              9637 non-null   object
 7   product           9637 non-null   object
 8   price_per_unit    9637 non-null   int64
 9   units_sold        9637 non-null   int64
 10  total_sales       9637 non-null   int64
 11  operating_profit  9637 non-null   int64
 12  sales_method      9637 non-null   object
dtypes: int64(6), object(7)
memory usage: 978.9+ KB

CLEAN DATA

In [7]:
#check for null data
adidas.isnull().sum()

sales_id            0
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [8]:
#check for duplicate data
adidas.duplicated().sum()

0

In [9]:
#remove leading or traiting white space in column
adidas.columns = adidas.columns.str.strip()

In [10]:
#convert 'sales_id' and 'retailer_id' from int to string
adidas['sales_id'] = adidas['sales_id'].astype(str)

adidas['retailer_id'] = adidas['retailer_id'].astype(str)

In [11]:
#convert date column to correct format
adidas['invoice_date'] = pd.to_datetime(adidas['invoice_date'], format = '%Y-%M-%d')

In [13]:
#drop column that not involve in analysis
adidas = adidas.drop(columns= ['state', 'city', 'operating_profit', 'sales_method'])

CHECK DATA AFTER CLEAN

In [15]:
adidas.head()

,sales_id,retailer,retailer_id,invoice_date,region,product,price_per_unit,units_sold,total_sales
0,1,Foot Locker,1185732,2021-01-06 00:11:00,Southeast,Men's Street Footwear,50,278,13900
1,2,Foot Locker,1185732,2020-01-14 00:03:00,Northeast,Men's Apparel,46,278,12788
2,3,West Gear,1128299,2021-01-19 00:01:00,West,Men's Athletic Footwear,47,278,13066
3,4,Walmart,1128299,2021-01-17 00:06:00,Southeast,Women's Apparel,103,218,22454
4,5,Sports Direct,1197831,2021-01-14 00:09:00,South,Women's Street Footwear,36,278,10008

In [16]:
adidas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9637 entries, 0 to 9636
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sales_id        9637 non-null   object
 1   retailer        9637 non-null   object
 2   retailer_id     9637 non-null   object
 3   invoice_date    9637 non-null   datetime64[ns]
 4   region          9637 non-null   object
 5   product         9637 non-null   object
 6   price_per_unit  9637 non-null   int64
 7   units_sold      9637 non-null   int64
 8   total_sales     9637 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 677.7+ KB

CONVERT CLEN DATA TO EXCEL

In [17]:
adidas.to_excel('Adidas US Sales.xlsx' , index=False)